.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    flex: 0 0 auto;
}

#newBookButton {
    float: right;
}

.bg-main-dark {
    background-color: #1b423f;
}

.book-card {
    background-color: #ead7d7;
}

.author-name {
    color: #6a2e35;
}

.modal-content {
    background-color: #cfdadd;
}
